
body{
    width: 960px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

#pantalla{
    border: groove 8px #464646;
    background: #F0F0F0;   
}

#boton{
    background-color:  #DCF1FF;
    color:black;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    border: solid 2px #558AEC;
    border-radius: 8px;
    font-family: 'Cutive Mono', monospace;
    transition-duration: 0.4s;
    margin: 30px;
    padding: 10px;
}

#boton:hover{
    background-color:#8dccf6;
    color:black;
}

h1{
    text-align: center;
}

.titulo{
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: #959595;
    font-size: 45px;
}

.titulo::after, .titulo::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #959595;
    top: 0.6em;
}
.titulo::before{
    left: -140px;
}

.titulo::after{
    right: -140px;
}
.subtitulo{
    display: inline-block;
    position: relative;
    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    font-size: 20px;
}

